<form action="/questionsDB/storeQuestions" method="POST">
    <fieldset id="questionnaire">
        <label for="question1" id="question1"><%= question1 %></label><br>
        <textarea class="mb-4 rounded" name="question1" id="" cols="60" rows="4" required aria-labelledby="ageRange question1" myNameId"></textarea><br>
        <label for="question2" id="question2"><%= question2 %></label><br>
        <textarea class="mb-4 rounded" name="question2" id="" cols="60" rows="4" required aria-labelledby="ageRange question2"></textarea><br>
        <label for="question3" id="question3"><%= question3 %></label><br>
        <textarea class="mb-4 rounded" name="question3" id="" cols="60" rows="4" required aria-labelledby="ageRange question3"></textarea><br>
        <input type="submit" value="Submit" class="btn btn-lg submit">
    </fieldset>
</form>
