<form action="/questionsDB/storeQuestions" method="POST">
    <fieldset id="questionnaire">
        <h4><%= question1 %></h4><br>
        <textarea class="mb-4 rounded" name="question1" id="" cols="60" rows="4"></textarea><br>
        <h4><%= question2 %></h4><br>
        <textarea class="mb-4 rounded" name="question2" id="" cols="60" rows="4"></textarea><br>
        <h4><%= question3 %></h4><br>
        <textarea class="mb-4 rounded" name="question3" id="" cols="60" rows="4"></textarea><br>
        <input type="submit" value="Submit" class="btn btn-lg submit">
    </fieldset>
</form>
