<!-- when the form is submitted the action attribute tells it to go to the server route /questions using the POST method which is indicated in the method attribute -->
<form action="/questions" method="POST" class="mb-3">
    <select name="ageRange" id="ageRange">
        <option value="Baby">Early Childhood(0-5)</option>
        <option value="Kid">Kid (5-10)</option>
        <option value="Preteen">Preteen (10-12)</option>
        <option value="Tween">Tween (11-14)</option>
        <option value="Teenager">Teenager (13-18)</option>
        <option value="Youngadult">Young Adult (18-21)</option>
        <option value="Adult">Adult (21+)</option>
    </select>
    <input type="submit" value="Submit" class="btn submit">
</form>


