<!-- when the form is submitted the action attribute tells it to go to the server route /questions using the POST method which is indicated in the method attribute -->
<form action="/questions" method="POST" class="mb-3">
    <select name="ageRange" id="ageRange">
        <option value="Baby">Baby</option>
        <option value="Kid">Kid</option>
        <option value="Preteen">Preteen</option>
        <option value="Tween">Tween</option>
        <option value="Teenager">Teenager</option>
        <option value="Youngadult">Young Adult</option>
        <option value="Adult">Adult</option>
    </select>
    <input type="submit" value="Submit" class="btn submit">
</form>


