

/* Fonts from fonts.google api
-use for text:
    font-family: 'Raleway', sans-serif;
-use for titles:
    font-family: 'Berkshire Swash', cursive; */

:root {
    --bg-color: #FFFFFF;
    --brand-color: #4AC9B6;
    --text-color: #30343F;
    --highlight: #496ECC;
}

body {
    font-size: 1em;
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
} 

.header {
    width: 100%;
    background-color: var(--text-color);
}

h1 {
    font-size: 6em;
    color: var(--brand-color);
    font-family: 'Berkshire Swash', cursive;
}

h2 {
    color: var(--highlight);
    font-size: 4em;
    font-family: 'Berkshire Swash', cursive;
}

h4 {
    color: var(--text-color);
    font-size: 1.5em;
    font-family: 'Berkshire Swash', cursive;
    margin: 0px;
}

h6 {
    font-size: 1.1em;
    color: var(--highlight);
}

.submit {
    background-color: var(--brand-color);
    color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
}

textarea, textarea:focus, .loginInput, .loginInput:focus {
    outline: none;
    border: 3px solid var(--brand-color);
}

.blocks {
    background-color: var(--brand-color);
}

p  {
    color: var(--text-color);
}

.bgimage {
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url("/images/faces.jpg");
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.row {
  background-color: none;
  font-size: 12px;
  position: fixed;
  top: 30%;
  width: 100%;
}


