<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
        <div class="container">
            <div class="bgimage">
                <div class="row text-center">
                <h2>"Life can only be understood backwards; but it must be lived forwards."</h2><br>
                </div>
                <h3><div class="tagline text-center">
                    Back In My Day was created out of a desire to bring the past to the present and connect
                    like-minded souls through digital reminiscing. Enjoy!</h3>
                </div>
            </div>
        </div>
      </div>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>