<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %> <% include partials/navbar.ejs %>
    <div class="container">
      <div class="text-center">
        <form action="/login" id="login">
          <label form="login" for="username">About PlaceHolder</label>
          <input id="username" type="text" class="loginInput rounded" />
          <input type="submit" value="Submit" class="btn submit" />
        </form>
=======
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
        <div class="container">
            <div class="bgimage">
                <div class="row text-center">
                <h2>"Life can only be understood backwards; but it must be lived forwards."</h2><br>
                </div>
                <h3><div class="tagline text-center">
                    Back In My Day was created out of a desire to bring the past to the present and connect
                    like-minded souls through digital reminiscing. Enjoy!</h3>
                </div>
            </div>
        </div>
>>>>>>> f1f49c3728e2fa024061c5431699702579bafb33
      </div>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>