<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <div class="container">

        <div class="text-center">
            <h2>UserFromDB's Answers:</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
                <div class="text-center rounded m-2 blocks p-2">
                    <h4 class="m-2">AgeRange Title from DB</h4>
                    <h6>Question 1 from DB</h6>
                    <p>Their answer which will come from our database</p>
                    <h6>Question 2 from DB</h6>
                    <p>Their answer which will come from our database</p>
                    <h6>Question 3 from DB</h6>
                    <p>Their answer which will come from our database</p>
                </div>
        </div>
            <% include partials/footer.ejs %>
    </div>
</body>
</html>