<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
    <div class="container">

        <div class="text-center">
            <h2>My Answers:</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <% questions.map(function(element) { %>
                <div class="text-center rounded m-2 blocks p-2">
                    <h4 class="m-2"><%= element.ageRangeTitle %></h4>
                    <h6><%= element.question1 %></h6>
                    <p>Their answer which will come from our database</p>
                    <h6><%= element.question2 %></h6>
                    <p>Their answer which will come from our database</p>
                    <h6><%= element.question3 %></h6>
                    <p>Their answer which will come from our database</p>
                </div>
            <% }) %>
        </div>
            <% include partials/footer.ejs %>
    </div>
</body>
</html>