<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <div class="container">

        <div class="main text-center">
            <!-- based on what age they select they will be given a different set of questions send as a post request and server will respond with questions corresponding to the age range -->
            <% include partials/select.ejs %>
        </div>
        <% include partials/footer.ejs %>
    </div>
</body>
</html>
