<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Back In My Day</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Back In My Day</h1>
        </div>
        <div class="main">
            <form action="">
                //based on what age they select they will be given a different set of questions
                //send as a post request and server will respond with questions corresponding to the age range
                    <% include partials/select.ejs %>
                    <% include partials/questions.ejs %>
            </form>
        </div>
        <div class="footer">

        </div>
    </div>
   
</body>
</html>
