<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
    <div class="container">

        <div class="main text-center">
            <h2 class="mb-5">Tell us about yourself!</h2>
            <!-- based on what age they select they will be given a different set of questions send as a post request and server will respond with questions corresponding to the age range -->
            <h4 class="mb-4">Select an age range to view questions</h4>
            <% include partials/select.ejs %>
            <h4 class="m-2"><%= message %></h4>
        </div>
        <% include partials/footer.ejs %>
    </div>
</body>
</html>
