<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
   <div class="container">
      <% include partials/header.ejs %>
      <div class="text-center">
         <form action="/login" id="login">
            <label form="login" for="username">Login PlaceHolder</label>
            <input id="username" type="text">
            <input type="submit">
         </form>
      </div>
      <% include partials/footer.ejs %>
   </div> 
</body>
</html>