<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Back In My Day</h1>
        </div>
        <div class="main">
<!-- based on what age they select they will be given a different set of questions send as a post request and server will respond with questions corresponding to the age range -->
            <% include partials/select.ejs %>
            <% include partials/questions.ejs %>
        </div>
        <div class="footer">

        </div>
    </div>
   
</body>
</html>