<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <% include partials/navbar.ejs %>
    <div class="container">

        <div class="text-center">
            <h4 class="mb-5">Select an age range to view stories</h4>
            <form action="/questionsDB/getRandom" method="POST" class="mb-5">
                <select name="ageRange" id="ageRange">
                    <option value="Baby">Baby</option>
                    <option value="Kid">Kid</option>
                    <option value="Preteen">Preteen</option>
                    <option value="Tween">Tween</option>
                    <option value="Teenager">Teenager</option>
                    <option value="Youngadult">Young Adult</option>
                    <option value="Adult">Adult</option>
                </select>
                <input type="submit" value="Select Age" class="btn submit">
            </form>
        </div>
    <% include partials/footer.ejs %>
    </div>
</body>
</html>